
@(observation: Observation, whaleForm: Form[WhaleData])(implicit request: Http.Request, messages: play.i18n.Messages)

@section(observation: Observation)= {
    <section id="obsDetail">
        <h1 class="center">Observation Table @observation.getId </h1><hr/>
        <p class="center">
        A summary of observation list @observation.getId is given below.
        The columns are sortable, click the table headers to do so. Click on a table
        row to see the whale details of that observation.
        The observed whales are shown as well.
        </p>
        <section class="obsInfo">

            @views.html.observationTable(Collections.singletonList(observation))

        </section>

        <section class="card-group">
            @observation.getWhales.map(x => views.html.panel(observation, x))
            @views.html.whaleForm(observation, whaleForm)
        </section>
    </section>
}

@htmlHeader(section(observation))
